body {
    margin: 0;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/***************************************************/

header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 250px;
    background: linear-gradient(135deg, #8132A8, #0FA10C, #30D75F);
}

.namoitalogo {
    position: absolute;
    width: 168px;
    height: 26px;
    left: 43px;
    top: 47px;
    filter: brightness(4);
}

.navinicial {
    position: absolute;
    left: 187px;
    top: 49px;
}

.navcolor {
    color: whitesmoke;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
}

.divpesquisa {
    margin-right: 10%;
    margin-bottom: 165px;
}

.pesquisainicio {
    position: absolute;
    right: 43px;

    box-sizing: border-box;
    position: absolute;

    border: 1px solid #419E32;
    background: #EFFFEC;
    border-radius: 20px;
    color: #3DA523;

    padding: 2px;
    outline: unset;
}

.divtexto {
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tituloheader {
    position: absolute;
    top: 57px;

    width: 100%px;
    height: 134px;

    font-family: 'Cocogoose';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 104.09%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: -0.065em;

    color: #EFFFEC;
}

/***************************************************/

.maissalvos {
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: 'Cocogoose';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 100px;

    margin-top: 13px;
    margin-bottom: 0px;

    color: #8132A8;
}

.caixa {
    display: flex;

    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow-x: hidden;
}

.caixa div {
    margin: 1%;
    box-shadow: 0px 0px 9px rgb(201, 201, 201);
}

.caixa div h2 {
    text-align: left;
    margin-left: 10px;

    font-family: 'Cocogoose';
    font-style: normal;

    color: #59A832;
}

.caixa div h4 {
    text-align: left;
    margin-left: 10px;

    font-family: 'Arial';
    font-style: normal;

    color: #8132A8;
}

/***************************************************/

footer {
    position: fixed;
    left: 0;
    right: 0;

    margin-top: 100px;
    background: linear-gradient(135deg, #8132A8, #0FA10C, #30D75F);
    color: #ffffff;
    padding: 20px;
    text-align: center;

    bottom: 0;
}